.navbar{
    --bs-bg-opacity: .9;
}

.cart{
    margin-right: 10px;
}

/*.navbar__menus{
    display: flex;
}

.navbar__menu{
    margin-left: 16px;
    margin-right: 16px;
    height: 32px;
    min-width: 48px;
}*/